<div class="container py-5">

    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-5">
                <!-- Credit card form tabs -->
                <ul class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                    <li class="nav-item">
                        <a class="nav-link active rounded-pill">
                            <i class="fa fa-credit-card"></i>
                            Credit Card
                        </a>
                    </li>
                </ul>
                <!-- End -->


                <!-- credit card info-->
                <div>
                    <p class="alert alert-success" *ngIf="paymentSts">Payment Sccessful</p>
                    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="username">Full name (on the card)<code>*</code></label>
                            <input type="text" name="username" placeholder="Enter Full Name" formControlName="fullName"
                                class="form-control">
                            <div *ngIf="form.fullName.errors && form.fullName.touched" class="required">
                                <div *ngIf="form.fullName.errors.required">This Field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">Card number<code>*</code></label>
                            <input type="text" placeholder="Your card number" class="form-control"
                                formControlName="cardNumber" (keyup)="checkCharType($event,'16','cardNumber')">
                            <div *ngIf="form.cardNumber.errors && form.cardNumber.touched" class="required">
                                <div *ngIf="form.cardNumber.errors.required">This Field is required</div>
                                <div *ngIf="form.cardNumber.errors.minlength">Should not lessthan 16</div>
                                <div *ngIf="form.cardNumber.errors.maxlength">Should not gretterthan 16</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label><span class="hidden-xs">Expiration <code>*</code></span></label>

                                    <input class="form-control" placeholder="mm-yyyy" name="date" bsDatepicker
                                        #dp="bsDatepicker" [bsConfig]="bsConfig" formControlName="expiary">
                                    <div *ngIf="form.expiary.errors && form.expiary.touched" class="required">
                                        <div *ngIf="form.expiary.errors.required">This Field is required</div>
                                        <div *ngIf="form.expiary.errors.isDate">Enter correct expiary Date</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group mb-4">
                                    <label data-toggle="tooltip" title="Three-digits code on the back of your card">CVV
                                        <i class="fa fa-question-circle"></i>
                                    </label>
                                    <input type="text" required class="form-control" formControlName="cvv"
                                        (keyup)="checkCharType($event,'3','cvv')">
                                    <div *ngIf="form.cvv.errors && form.cvv.touched" class="required">
                                        <div *ngIf="form.cvv.errors.minlength">Should not lessthan 3</div>
                                        <div *ngIf="form.cvv.errors.maxlength">Should not grtterthan 3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label>Amount to be paid <code>*</code></label>
                            <input type="number" class="form-control" formControlName="amount">
                            <div *ngIf="form.amount.errors && form.amount.touched" class="required">
                                <div *ngIf="form.amount.errors.required">This field is required</div>
                            </div>
                        </div>
                        <button type="submit" class="subscribe btn btn-success btn-block rounded-pill shadow-sm"
                            [disabled]="!paymentForm.valid">
                            Confirm </button>
                    </form>
                </div>
                <!-- End -->
            </div>
        </div>
    </div>
</div>